<%= render "layouts/errors", :object => @user %>

<div class="user-form">
  <%= form_for [@user] do |f| %>
    <%= f.label :name, :required => true %>
    <%= f.text_field :name %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
